<div class="flex">

  <input class="width" type="text" placeholder="From" [(ngModel)]="toData">
  <input class="width" type="text" placeholder="To" [(ngModel)]="fromData">

  <select class="width" [(ngModel)]="selectedOption">
    <option *ngFor="let option of options" [value]="option.value">{{ option.label }}</option>
  </select>

  <button (click)="getdataFilter()">Submit</button>
</div>

<div>
  <input class="width width-search" type="search" placeholder="Search" [(ngModel)]="searchData" (input)="getBySearch()">
</div>
<hr>
<div *ngIf="dataSource">
  <table>
    <tr class="table-cell">
      <th class="table-head">Id</th>
      <th class="table-head">Name</th>
      <th class="table-head">Total marks</th>
      <th class="table-head">Address</th>
      <th class="table-head">Age</th>
    </tr>
    <tr *ngFor="let data of dataSource">
      <td class="table-cell">{{data.id}}</td>
      <td class="table-cell">{{data.name}}</td>
      <td class="table-cell">{{data.totalMarks}}</td>
      <td class="table-cell">{{data.address}}</td>
      <td class="table-cell">{{data.age}}</td>
    </tr>
  </table>
</div>